<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<a href="/" class="btn btn-warning" id="logOut" style="margin-top:0.5em;">LogOut</a>
<div class="teacherOption">
    <button class="btn btn-primary">
        <a href="/teacher/viewAllStudentData" style="text-decoration: none;">View All Students</a> 
    </button>&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary">
        <a href="/teacher/add" style="text-decoration: none;">Add Student</a>
    </button>
</div>
</body>
</html>